.card-content {
    background: url(../../../../assets/images/examples/card-bg.png) no-repeat center  hsla(0,0%,100%,.6);
    background-size: 110% auto;
    position: relative;
    z-index: 10;
    flex-basis: 93px;
    overflow: hidden;
    padding: 0;
}

.card-antiMui {
    padding: 0 !important;
}

.card-root {
    height: 46px;
    overflow: hidden;
    padding: 8px 10px 8px 15px;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.card-avatar {
    display: flex;
    flex: 0 0 auto;
    margin-right: 16px;
}

.avtar-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.avatar {
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    flex-shrink: 0;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 1.25rem;
    line-height: 1;
    border-radius: 50%;
    overflow: hidden;
    user-select: none;
    background-color: rgb(255, 255, 255);
    width: 30px;
    height: 30px;
    box-shadow: rgb(0 0 0 / 10%) 3.77112px 3.77112px 13.1989px;
}

.avatar-img {
    width: 100%;
    height: 100%;
    text-align: center;
    object-fit: cover;
    color: transparent;
    text-indent: 10000px;
}

.card-shopname {
    max-width: 130px;
    display: flex;
    align-items: center;
    grid-column-gap: 6px;
    -webkit-column-gap: 6px;
    column-gap: 6px;
}

.card-action {
    padding: 0 !important;
    font-size: 12px;
    color: var(--ps-primary);
    align-self: auto;
    margin: 0;
}

.avatar-infor {
    padding-left: 14px;
}

.card-action strong {
    font-size: 24px;
    padding-right: 2px;
    font-family: "HelveticaCondensed";
    font-weight: 700;
}

.card-action span {
    font-size: 12px;
}

.card-space {
    flex: 1 1 auto;
    
}